/********** Template CSS **********/
:root {
    --primary: #0f4983;
    --secondary: #15ACE1;
    --light: #F4F7FE;
    --dark: #14183E;
}

.logo-color
{
	color:#0f4983;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.bold-font-new
{ 
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar {
    padding: 11px 0 !important;
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
.hero-header {
    margin-top: -75px;
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** About ***/
.about-img {
    position: relative;
    overflow: hidden;
}

.about-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/bg-about-img.png) top left no-repeat;
    background-size: contain;
}


/*** Service ***/
.service-item {
    position: relative;
    padding: 45px 30px;
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    color: var(--primary);
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-icon {
    background: #FFFFFF;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: var(--light);
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}


/*** Feature ***/
.feature {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}


/*** Newsletter ***/
.newsletter {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .newsletter .container {
        max-width: 100% !important;
    }

    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Case Study ***/
.case-item img {
    transition: .5s;
}
  
.case-item:hover img {
    transform: scale(1.2);
}
  
.case-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(20, 24, 62, 0), var(--dark));
    z-index: 1;
}

.case-overlay small {
    display: inline-block;
    padding: 3px 15px;
    color: #FFFFFF;
    background: rgba(20, 24, 62, .7);
    border-radius: 25px;
    margin-bottom: 15px;
}

.case-overlay span.btn:hover {
    color: var(--primary);
    background: #FFFFFF;
    border-color: #FFFFFF;
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Testimonial ***/
.testimonial-carousel {
    position: relative;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    top: calc(50% - 50px);
    left: -21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 40px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    margin-left: 3rem;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item {
    transition: .5s;
    border: 1px solid transparent;
    transition: .5s;
}

.team-item:hover {

    border-color: var(--primary);
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/*hero section css*/
@import url(https://fonts.bunny.net/css?family=abel:400);

/* Hide radio buttons */
input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.learn-more-btn:hover { background-color: #0056b3;
     transform: translateX(5px); 
     cursor: pointer !important; 
    }

.cards {
    --base-rotation: 0deg;
    --full-circle: 360deg;
    --items: 8;
    --radius: 14vw;
    --duration: 300ms;

    --cards-container-size: calc(var(--radius) * 2);

    --thumb-size: 61px;
    --image-size: calc(var(--radius)*0.7);
    --image-y: 0%;
    --labels-offset: calc(var(--radius) * -1);
    --title-top: calc(var(--thumb-size) * -3);
    --info-top: calc(100% + 2rem);
    --info-width: 100%;
    box-sizing: content-box;
    position: absolute;
    top: 150px; /* Adjust as needed */
    right: 130px; /* Aligns it to the right side */
    width: var(--cards-container-size);
    height: var(--cards-container-size);
    aspect-ratio: 1;
    border-radius: 50%;
    perspective: 1000px;
    transition: transform 0.3s ease-in-out var(--duration);
    list-style: none;
}



@media (max-width: 600px) and (orientation: portrait) and (orientation: portrait) {
    .cards-container {
        display: block; /* Ensure block layout for portrait mode */
        width: 100%;
    }

    .cards {
        --radius: 34vw;
        --thumb-size: 60px;
        --image-size: calc(var(--radius) * 0.6);
        margin: 3rem auto;
        position: relative; /* Adjust position for portrait mode */
        top: auto;
        right: auto;
        padding-left: 0rem !important;
    }
    

    .cards li > label > img {
        transform-origin: center;
        width: 100%;
        scale: var(--label-scale, 1);
        opacity: var(--label-opacity, 1);
        transition: scale var(--duration) ease-in-out, opacity var(--duration) ease-in-out;
    }

    .cards > li > h2 {
        font-size: 16px; /* Adjust font size for portrait mode */
    }

    .cards > li > a {
        font-size: 10px !important;
        width: 24% !important;
        height: 8% !important;
        transform: translate(-50%, -167%) !important;
  
    }
    .cards > li > img {
        transform: translate(0%, 40%) !important;
    }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .cards-container {
        display: block; /* Ensure block layout for portrait mode */
        width: 100%;
    }
    
    .cards {
        --radius: 34vw;
        --thumb-size: 60px;
        --image-size: calc(var(--radius) * 0.6);
        margin: 3rem auto;
        position: relative; /* Adjust position for portrait mode */
        top: auto;
        right: auto;
        padding-left: 0rem !important;
    }

    .cards li > label > img {
        transform-origin: center;
        width: 100%;
        scale: var(--label-scale, 1);
        opacity: var(--label-opacity, 1);
        transition: scale var(--duration) ease-in-out, opacity var(--duration) ease-in-out;
    }

    .cards > li > h2 {
        font-size: 32px; /* Adjust font size for portrait mode */
    }

    .cards > li > a {
        font-size: 19px !important;
        width: 24% !important;
        height: 8% !important;
  
    }
}



.text-lg-end {
    text-align: right;
}

.cards li {
    
    justify-content: center; /* Centers the images horizontally */ 
    align-items: center; /* Centers the images vertically */ 
    
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
    transform-origin: center;
    display: flex;
    place-content: center;
    transform: rotate(calc(var(--i) * 360deg / var(--items)));
    pointer-events: none;
    z-index: 1;
}

.cards li > label {
    display: block; 
    width: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translateY(var(--labels-offset));
    width: var(--thumb-size);
    height: var(--thumb-size);
    cursor: pointer;
    pointer-events: initial;
    transition: var(--duration) ease-in-out;
    z-index: 2;
}

.cards li > label > img {
    transform-origin: center; 
   
     max-width: var(--thumb-size); /* Adds a max-width for stability */ 
     flex-shrink: 0; /* Prevents shrinking */ 
     flex-grow: 0; /* Prevents growing */ 
    
     
    box-sizing: content-box;
    position: absolute;
    transform-origin: center;
    width: 100%;
    scale: var(--label-scale, 1);
    opacity: var(--label-opacity, 1);
    transition: scale var(--duration) ease-in-out, opacity var(--duration) ease-in-out;
    z-index: 3;
}

.cards:has(label:hover) label {
    --label-scale: 0.75;
}

.cards li:has(+ li > label:hover) > label,
.cards li:has(label:hover) + li > label {
    --label-scale: 1.25;
}

.cards li > label:hover img {
    --label-scale: 1.5;
}

.cards > li > img {
    width: var(--image-size); 
    height: var(--image-size);
    object-fit: contain; 
    z-index: 52;
    transform: translateY(calc(var(--image-y) + 42px));
    transition-property: opacity, scale, width, height, transform, filter; 
    transition-duration: var(--duration); 
    transition-timing-function: ease-in-out; 
    opacity: var(--item-opacity, 0); 
    scale: var(--item-scale, 0); 
    filter: drop-shadow(0px 0px 5px rgba(255 255 255 / 0.25)); 
    position: absolute; /* Makes image position stable */ 
}

.cards > li:has(:checked) > img:hover {
    transform: translateY(var(--image-y)) rotateY(-30deg) rotateX(-5deg);
    filter: drop-shadow(15px 10px 5px rgba(255 255 255 / 0.25));
}

.cards > li > h2 { 
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -100%); 
    color: white;
    opacity: var(--title-opacity, 0); 
    translate: 0 var(--title-y, -30px); 
    transition: var(--duration) ease-in-out var(--title-delay, 0ms); 
    text-align: center; /* Centers the text within the element */ 
    
    pointer-events: all; /* Allows interactions with the heading */ 
}

.cards > li > a { 
    position: absolute; 
    align-self: flex-end;
    left: 50%; 
    transform: translate(-50%, -103%); 
    font-size: 15px; 
    color: #007bff; 
    background-color: #f0f0f0; 
    border: none;
     border-radius: 55px; 
     text-align: center; 
     text-decoration: none; 
     transition: background-color 0.3s, transform 0.3s; 
     cursor: pointer; 
     width: 29%; 
     height: 9%;
     z-index: 100; 
     opacity: var(--info-opacity, 0); 
     translate: 0 var(--info-y, 30px); 
     transition: var(--duration) ease-in-out var(--info-delay, 0ms); 
     pointer-events: auto; /* Ensure button is interactive */
     cursor: pointer;
    }
.cards li > a:hover {
    background-color: #0056b3; /* Ensure this matches your desired hover color */
    transform: translate(-50%, -110%) scale(1.1); /* Slight zoom effect on hover */
    color: #ffffff; /* Change text color on hover */
}


li:has(input:checked) {
    --label-opacity: 0.25;
    --label-scale: 1;
    --item-scale: 1;
    --item-opacity: 1;
    --item-delay: calc(var(--duration) * 2);
    --title-opacity: 1;
    --title-y: 0;
    --title-delay: calc(var(--duration) * 3);
    --info-opacity: 1;
    --info-y: 0;
    --info-delay: calc(var(--duration) * 3);
    z-index: 99;
}

.cards:has(input:checked) {
    transform: rotate(
        calc(
            var(--base-rotation) - (var(--index) * var(--full-circle) / var(--items))
        )
    );
}

.cards:has(input#item-1:checked) {
    --index: 0;
}
.cards:has(input#item-2:checked) {
    --index: 1;
}
.cards:has(input#item-3:checked) {
    --index: 2;
}
.cards:has(input#item-4:checked) {
    --index: 3;
}
.cards:has(input#item-5:checked) {
    --index: 4;
}
.cards:has(input#item-6:checked) {
    --index: 5;
}
.cards:has(input#item-7:checked) {
    --index: 6;
}
.cards:has(input#item-8:checked) {
    --index: 7;
}

* {
    box-sizing: border-box;
}

:root {
    --clr-bg: #000;
    --clr-primary: rgb(248, 243, 243);
}

html {
    background-color: var(--clr-bg);
    font-family: "Abel", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    margin: 0;
}
